@{
    ViewBag.Title = "ListRental";
}
<div class="row">
    <div style="width : 80%; margin : auto">
        <h3>List A Rental</h3>
        <hr />
         @if (ViewBag.PathAndQuery == "/Home/Dashboard")
        {
            <a class="btn btn-info btn-sx" href="/Home/Dashboard"><span class="fa fa-arrow-left"></span> Back</a>
        }
        else
        {
            if (ViewBag.PropId == null)
            {
            <a class="btn btn-info btn-sx" href="/Property/RentalProperties"><span class="fa fa-arrow-left"></span> Back</a>
            }
            else
            {
            <a class="btn btn-info btn-sx" href="/Home/Index"><span class="fa fa-arrow-left"></span> Back</a>
            }
        }
        <br /><br />
    </div>
</div>
<div class="row">
    <form id="add-new-property" class="step-form" style="margin-bottom:20px">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Select property <span style="color:red;">*</span></label>

                            <select class="form-control" data-bind="value : PropertyId" >
                                @if (ViewBag.Properties.Count > 1)
                                {
                                    <option disabled selected value="0">--Please select a property--</option>
                                }
                                
                                @foreach (var type in ViewBag.Properties)
                                {
                                    <option value="@type.Id">@type.AddressString</option>
                                }         
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Title <span style="color:red;">*</span></label>
                                    <input class="form-control" type="text" data-bind="textInput : Title" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Moving Cost <span style="color:red;">*</span></label>
                                    <input class="form-control" type="text" data-bind="textInput : MovingCost" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Description <span style="color:red;">*</span></label>
                            <textarea class="form-control" rows="5" data-bind="textInput : RentalDescription"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Target Rent <span style="color:red;">*</span></label>
                            <input class="form-control" type="text" data-bind="textInput : TargetRent" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Furnishing </label>
                            <input class="form-control" type="text" data-bind="textInput : Furnishing" />
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Available Date <span style="color:red;">*</span></label>
                            <input name="AvailableDate" class="form-control" type="text" data-bind="datePicker : AvailableDate, dateTimePickerOptions : {format: 'DD/MM/YYYY', minDate: new Date()}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Ideal Tenant </label>
                            <input class="form-control" type="text" data-bind="textInput : IdealTenant" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Occupants Count <span style="color:red;">*</span></label>
                            <input class="form-control" type="text" data-bind="textInput : OccupantCount" />
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Pets Allowed </label>
                            <select class="form-control" data-bind="options: PetsAllowedOption, optionsText: 'Choice',optionsValue : 'Choice', value : PetsAllowed"></select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Please upload your photos here<span style="color:red;"></span></label>
                            <div class="panel panel-default">
                                <div class="panel-body" style="min-height:120px">
                                    <div data-bind="foreach: MediaFiles">
                                        <div class="col-xs-2">
                                            <div class="thumbnail">
                                                <a data-bind="click: $root.RemovePhoto">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                                <img class="img-responsive" data-bind="attr: {src: Data}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="btn btn-success">
                                <span class="fa fa-cloud-upload"></span>
                                Choose Files
                                <input type="file" id="file-upload" class="key-upload" data-bind="filesUpload : MediaFiles, fileWarning : FileWarning, validFileTypes : ValidFileTypes" accept="image/*" multiple />
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <p id="file-warning" class="text-muted" style="font-size:11px; text-align : left" data-bind="text:FileWarning"></p>
                            @*<p class="text-muted" style="font-size:11px; text-align : left">You may upload up to 5 files. Max size is 5 MB each and supported file types are *.jpg, *.jpeg, *.png, & *.gif</p>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-success" data-bind="click : SubmitRentalListing,enable:validInput">Save</button>
                        @*<button class="btn btn-group btn-danger" onclick="location.href='@Url.Action("RentalProperties", "Property")'">Cancel</button>*@
                        @if (ViewBag.PropId == null)
                        {
                            @*<button class="btnSeccion btn btn-group btn-danger" onclick="window.location.href='@Url.Action("RentalProperties", "Property")'">Cancel</button>*@
                            @*<button class="btnSeccion btn btn-group btn-danger" onclick="postConfirm()">Cancel</button>*@
                            <button class="btnSeccion btn btn-group btn-danger" data-toggle="modal" data-target="#myModal">Cancel</button>



                        }
                        else
                        {
                            @*<button class="btnSeccion btn btn-group btn-danger" onclick="postConfirm()">Cancel</button>*@
                            <button class="btnSeccion btn btn-group btn-danger" data-toggle="modal" data-target="#myModal">Cancel</button>

                        }
                    </div>
                </div>
            </fieldset>
        </form>
</div>
<script src="~/Scripts/PropertyOwners/Property/RentalListingViewModel.js"></script>
<script>
    $(".btnSeccion").click(function (event) {
        event.preventDefault();
    });
    @*var returnUrl = '@ViewBag.ReturnUrl';
    debugger;
    function postConfirm() {
        console.log(event)
        if (confirm("Do you want to leave the page without saving?")) {
            
            window.location.href = returnUrl ? returnUrl : '/PropertyOwners';
            event.preventDefault()
            return false;
        }
        else {
            event.preventDefault();
            return false;
        }


    }*@
    
    var PropId = '@ViewBag.PropId';
    $(document).ready(function () {
        ko.applyBindings(new RentalListingViewModel());
    });


</script>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to leave this page without saving?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'">Yes</button>
                @*<button type="button" class="btn btn-danger" onclick="postConfirm()">Yes</button>*@

                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->