@model POMyRequestsSearchModel
@{
    ViewBag.Title = "Property Owner | My Requests";
}
@section Modal{
    @{
        Html.RenderPartial("_SearchResultModal");
    }
}
<div id="mainPage" data-bind="visible : MainView">
    <div class="row">
        <div class="block-header col-md-10">
            <h3>My Requests</h3>
            <span class="text-muted" style="font-size:12px;">You can view your requests here</span>
        </div>
        <div>
            <div class="col-md-2" style="padding-left: 31px; padding-top: 60px">
                <a href="@Url.Action("SendRequest", "Home", new { area = "Rental", returnUrl = HttpContext.Current.Request.RawUrl})"><span class="zmdi zmdi-plus-circle-o"></span> Add New Request</a>
            </div>
        </div>
    </div>
    <hr />
    @{
        Html.RenderPartial("_SearchInput");
    }
    <br />
    <ul class="nav nav-tabs" role="tablist">
        <li class="@(Model.RequestStatus.Equals(PropertyRequestStatus.Submitted) ? "active" : "")">@Html.ActionLink("Current", "MyRequests", new { RequestStatus = PropertyRequestStatus.Submitted })</li>
        <li class="@(Model.RequestStatus.Equals(PropertyRequestStatus.Accepted) ? "active" : "")">@Html.ActionLink("Accepted", "MyRequests", new { RequestStatus = PropertyRequestStatus.Accepted })</li>
        <li class="@(Model.RequestStatus.Equals(PropertyRequestStatus.Declined) ? "active" : "")">@Html.ActionLink("Declined", "MyRequests", new { RequestStatus = PropertyRequestStatus.Declined })</li>
    </ul>
    <br />
    <div data-bind="foreach : Items">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div title="Delete" class="delete-top-right-corner" data-bind="click: $root.ShowDelete"><i class="fa fa-trash-o"></i></div>
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Partial("_PanelImgs")
                            </div><!--photo coloumn-->

                            <div class="col-md-4">
                                <div class="row" style="line-height : 25px">
                                    <div class="row">
                                        <div class="col-md-5"><strong>Property : </strong></div>
                                        <div class="col-md-7">
                                            <div data-bind="text : StreetAddress"></div>
                                            <div data-bind="text : CitySub"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"><strong>Request Status: </strong></div>
                                        <div class="col-md-7"><span data-bind="text : RequestStatus"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"><strong>Request Type: </strong></div>
                                        <div class="col-md-7"><span data-bind="text : RequestType"></span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"><strong>Requested On: </strong></div>
                                        <div class="col-md-7"><span data-bind="text: moment(CreatedOn()).format('ll')"></span></div>
                                    </div>
                                </div><!--row-->
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4"><strong>Description: </strong></div>
                                    <div class="col-md-8"><span data-bind="text : Model.RequestMessage" style="word-break: break-all;"></span></div>
                                </div>
                                <div class="row">
                                    <div data-bind="if:Model.Reason">
                                        <div class="col-md-4"><strong>Reason: </strong></div>
                                        <div class="col-md-8" style="word-break: break-all;">
                                            <span data-bind="text : Model.Reason" style="line-height:20px"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div  class="prop-actions">
                                <button class="btn btn-success" data-bind="visible: Model.RequestStatusId() == 1 ,click:$root.ShowEdit"><span class="zmdi zmdi-edit"></span> Edit</button> 
                                <button class="btn btn-default" data-bind="click:$root.ShowDetail">
                                <i class="zmdi zmdi-info-outline"></i> Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @{
       Html.RenderPartial("_PagedItems");
    }
    </div>

@* ********************************** Request Edit Form ****************************************** *@
<div data-bind="visible : EditView" style="display:none">
    <div class="row">
        <div style="width : 80%; margin : auto">
            <h3>Edit Request</h3>
            <hr />
            <button class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</button>
            <br /><br />
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px">
        <form class="step-form" data-bind="with : SelectedItemCopy">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Description <span style="color : red">*</span></label>
                            <textarea class="form-control" data-bind="value: Model.RequestMessage, valueUpdate:'afterkeydown'" maxlength="500" rows="6" cols="70" required></textarea>
                        </div>
                        <div class="form-group">
                            <p class="text-muted" style="font-size:11px; text-align : left">Maximum of 500 characters</p>
                        </div>
                        @Html.Partial("_MediaInput")
                        <div class="form-group">
                            <p class="text-muted" style="font-size:11px; text-align : left">You may upload up to 5 files. Total size is 5 MB and supported file types are *.jpg, *.jpeg, *.png, *.gif, *.pdf & *.doc*</p>
                        </div>
                        <div class="col-sm-12 text-center" style="padding-bottom: 30px">
                            <button type="button" class="btn btn-success" data-bind="click:$root.Edit, enable : IsValid">Save</button>
                            <button type="button" class="btn btn-danger" data-bind="click:$root.ShowMain">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
@* ********************************** Inspection Delete Confirmation Form ****************************************** *@
<div data-bind="visible : DeleteView" style="display:none">
    <div class="container">
        <h3>Delete Request</h3>
        <hr />
        <a class="btn btn-info btn-sx" data-bind="click: $root.ShowMain"><span class="fa fa-arrow-left"></span> Back</a>
        <br /><br />
        <div class="panel panel-default" data-bind="with : SelectedItem">
            <div class="panel-heading">
                Are you sure you want to delete this request?
            </div>
            <div class="panel-body">
                <div class="row" style="line-height : 25px">
                    <div class="col-md-2">
                        <strong>Property:</strong>
                    </div>
                    <div class="col-md-8">
                        <span data-bind="text : StreetAddress"></span>
                        <span data-bind="text : CitySub"></span>
                    </div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-2"><strong>Request Status:</strong></div>
                    <div class="col-md-8" data-bind="text : Model.RequestStatus"></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-2"><strong>Request Type:</strong></div>
                    <div class="col-md-8" data-bind="text :  RequestType"></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-2"><strong>Requested On:</strong></div>
                    <div class="col-md-8"><span data-bind="text: moment(CreatedOn()).format('ll')"></span></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-2"><strong>Description: </strong></div>
                    <div class="col-md-8" style="word-break: break-all;">
                        <span data-bind="text : Model.RequestMessage" style="line-height:20px"></span>
                    </div>
                </div>
                @*<div class="row" style="line-height : 25px">
                    <div data-bind="if:Reason">
                        <div class="col-md-2"><strong>Reason: </strong></div>
                        <div class="col-md-8" style="word-break: break-all;">
                            <span data-bind="text : Reason" style="line-height:20px"></span>
                        </div>
                    </div>
                </div>*@
                <div class="prop-actions">
                    <button type="button" class="btn btn-success" data-bind="click: $root.Delete">Confirm</button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.ShowMain">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* ********************************** Details form ****************************************** *@
<div data-bind="visible : DetailView" style="display:none">
    <div class="container" data-bind="with : SelectedItem">
        <h3>Detail Request</h3>
        <hr />
        <a class="btn btn-info btn-sx" data-bind="click: $root.ShowMain"><span class="fa fa-arrow-left"></span> Back</a>
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading" style="position: relative;">
               <h4>Details of the request</h4> 
            </div>
            <div class="panel-body">
                <div class="row" style="line-height : 25px">
                    <div class="col-md-7" style="padding-bottom: 100px;">
                        <div class="row" style="line-height: 25px">
                            <div class="col-md-4" style="padding-right:0px;">
                                <strong>Property:</strong>
                            </div>
                            <div class="col-md-8">
                                <span data-bind="text : StreetAddress"></span>
                                <span data-bind="text : CitySub"></span>
                            </div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right:0px;">
                                <strong>Request Status:</strong>
                            </div>
                            <div class="col-md-8" data-bind="text:RequestStatus">

                            </div>

                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right:0px;"><strong>Request Type:</strong></div>
                            <div class="col-md-8" data-bind="text :  RequestType"></div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right:0px;"><strong>Requested On:</strong></div>
                            <div class="col-md-8"><span data-bind="text: moment(CreatedOn()).format('ll')"></span></div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right:0px;"><strong>Description: </strong></div>
                            <div class="col-md-8" style="word-break: break-all;">
                                <span data-bind="text : Model.RequestMessage" style="line-height:20px"></span>
                            </div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div data-bind="if:Model.Reason">
                                <div class="col-md-4" style="padding-right:0px;"><strong>Reason: </strong></div>
                                <div class="col-md-8" style="word-break: break-all;">
                                    <span data-bind="text : Model.Reason" style="line-height:20px"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="line-height:25px">
                            <div class="col-md-4" style="padding-right:0px;"><strong>Documents:</strong></div>
                            
                            <ul class="col-md-8" data-bind="foreach: DocFiles">
                                <li data-bind="visible : MediaType == 2">
                                    <a data-bind ="attr: {href :Data}"><span data-bind=text:OldFileName></span></a>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-top:0px;">
                        @Html.Partial("_DetailViewImg")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()
<script>
    var token = $('input[name="__RequestVerificationToken"]').val();
    function PageViewModel(dataVm, dic) {
        var token = $("input[name = '__RequestVerificationToken']").val();
        var self = this;
        self.ExtendDic = dic;
        for (var key in dataVm) {
            self[key] = dataVm[key]
        }
        self.Items().forEach(function (item) {
            KeysUtils.injectExtends(item.Model, self.ExtendDic);
            KeysUtils.injectViewProps(item);
        });
        KeysUtils.injectOpProps(self);
        console.log(self);
    }
    $(document).ready(function () {
        $("#NoRecord").modal("show");
        var dataVm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
        var vm = new PageViewModel(dataVm, KeysExtendsDic.Request);
        ko.applyBindings(vm);
    });
</script>